<html>
<head>
<title>Bookers</title>
<body>

<!--リンク作る-->
<!--<body>-->
<!--  <header>-->
<!--    <span>Bookers</span>-->
<!--      <div>-->
<!--        <nav>-->
<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            <li><= link_to 'Home', user_path(@user.id) %></li>-->
<!--            <li> <= link_to 'Users', users_path %> </li>-->
<!--            <li> <= link_to 'Books', books_path %></li>-->
<!--            <li> <= link_to "logout",destroy_user_session_path, method: :delete, "data-confirm" => "Are you sure?"%></li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
<!--  </header>-->
<!--リンク作る-->

<h1>Editing Book</h1>
<%= form_with model:@book, local: true do |f| %>
<h4>title</h4>
<%= f.text_field :title %>
<h4>Body</h4>
<%= f.text_field :option %>
<%= f.submit 'Update Book' %>
<% end %>

<%= link_to "Show", book_path %>
<%= link_to "Back",books_path %>

<footer>
  <p>CopyRight Infratop.inc</p>
</footer>

</body>
</html>
